*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#demo{
    font-size: 30px;
    color:red;
    text-align: center;
    margin: 5px 10px;
   
}

h1{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(8, 172, 16);
}
.title__icon{
    color: yellow;
}

  #age{
      margin-top:10px;
      color:rgb(180, 214, 29);
      text-align: center;
  }
button{
    margin: 12px 28px;
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    color:#fff;
    cursor: pointer;
    
}
button:hover{
    background-color:rgb(44, 146, 83);
    color: black;
}

button.button{
    position: relative;
    margin:12px 24px;
    padding:15px 30px;
    background-color: transparent;
    color:white;
    outline: none;
    display: inline-block;
    
    
    border-style:none;
    cursor: pointer;
    transition: text 2s ease-in 1s;
    font-size: 20px;
    
    
    
}

button.button::before{
    content: "";
    position: absolute;
    height: 100%;
    width:0;
    background-color: rgb(12, 173, 60) ;
    z-index: -1;
    top:0;
    left:0;
    transition: width 1s ease  ;
    border-radius: 0.7px;
  
}
button.button:hover::before{
    width: 100%;
    
    
}


/* tách */
.btn_active{
    margin: 12px 28px;
    padding: 12px 24px;
    border-radius: 4px;
    background-color:rgb(151, 11, 151);
    color:rgb(15, 7, 7);
    cursor: pointer;
    transition: all 0.25s linear;
   
}
.btn_active:hover{
    box-shadow:rgb(208, 119, 211) 5px 5px 5px;
    background-color: rgb(172, 116, 160);
    color:#fff;
}

span{
   display: flex;
   justify-content: center;
}
body{
    background-image: url(https://www.desktopbackground.org/download/o/2012/03/06/354347_hinh-nen-iphone-5s-dep-nhat-wallpapers-for-iphone-5s_640x1136_h.jpg);
    background-repeat: none;
    background-size: cover;
    background-clip: border-box;
    
}
.img{
    margin-top:20px;
    text-align: center;
}
.active__light{
    
}
